/*Tela Maior*/
@media screen and (max-width: 1440px) {
    .divPhoto img {
        max-width: 400px;
    }
    .descricao {
        padding: 10px;
        font-size: 1.3rem;
    }
    .linkIcons i {
        font-size: 2.5rem;

    }
    .tecnologias {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 1046px) {
    .contentStart h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1024px) {
    nav {
        font-size: 18px;
    }
    
    .logoBernardo {
        width: 60px;
        transition: .3s;
    }
    .contentStart h1 {
        font-size: 1.9rem;
    }
    .contentStart h2 {
        font-size: 1.2rem;
        letter-spacing: 1.5px;
    }
    .contentStart p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .divPhoto img {
        max-width: 400px;
    }
    .contact {
        font-size: .93rem;
        width: 145px;
    }
    .title {
        font-size: 85px;
    }   
    .title:before {
        font-size: 70px;
    }
    #technologies svg {
        font-size: 8rem;
    }
    #technologies h3 {
        font-size: 1.25rem;
    }
    .divPhoto img {
        max-width: 300px;
    }
    .contactSection {
        justify-content: center;
        gap: 1rem;
    }
    fieldset {
        width: 23rem;
        gap: 1rem;
    }
    .contato span {
        font-size: 1.2rem;
    }
    .aboutSection {
        gap: 2rem;
    }
    .downloadCv {
        max-width: 50%;
        padding: 10px;
        display: flex;
        color: var(--second-color);
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        background: transparent;
        cursor: pointer;
        border: solid 3px var(--second-color);
    }
    .start {
        padding-top: 2rem;
    }
}

/*Tela Tablet*/
@media screen and (max-width: 768px) {
    .navLink {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
        color: var(--light);
        font-weight: 500;
        margin: 0 auto;
    }
    header {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 5px 20px;
    }

    .menuIcon {
        display: block;
    }
    #navMenu {
        display: none;
    }
    .show-menu{
        display: block !important;
        position: absolute;
        top: 71px;
        left: 0;
        width: 100%;
        background-color: var(--dark);
        box-shadow: -1px 0 4px rgba(0, 0, 0, 0.336);
        border-bottom: solid 3px var(--main-color);
        padding: 2rem 1.5rem 2rem;
        border-radius: 0 0 1rem 1rem;
        justify-content: center;
    }
    .activeClass {
        color: var(--third-color);
        border-bottom: solid 4px var(--third-color);
    }
    .navList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .contentStart p {
        font-size: 0.9rem;
    }

    .contentStart {
        max-width: 100%;
    }
    
    .start {
        max-width: 100%;
    }
    .divPhoto img {
        max-width: 300px;
    }

    #nav-toggle {
        display: block;
    }
 
    .logoBernardo {
        width: 50px;
        transition: .3s;
    }

    .contact {
        font-size: .9rem;
        width: 145px;
    }
    .title {
        font-size: 85px;
    }
    .title:before {
        font-size: 60px;
    }
    #technologies ul {
        gap: 5rem;
    }
    .downloadCv {
        max-width: 25%;
        padding: 15px;
        font-size: 1.1rem;
    }
    .contactSection {
        gap: .5rem;
    }
    .contato a {
        gap: .5rem;
    }
    .aboutSection {
        flex-direction: column;
    }
    .aboutInfo {
        max-width:70%;
        align-items: center;
    }
    .downloadCv {
        max-width: 60%;
    }
}

@media screen and (max-width: 740px) { 
    /*A partir daqui o main quebra*/
    .start {
        display: flex;
        flex-direction: column-reverse;

        gap: 0;
        margin-top: 6rem;
    }
    .divPhoto img {
        max-width: 300px;
        margin: 0;
        margin-top: -3rem;
        padding: 0;
    }
    .contentStart p {
        font-size: 1rem;
        
    }
    .contentStart {
        max-width: 100%;
    }
    nav {
        font-size: 18px;
    }
    .homeScrlBtn {
        display: none;
    }
    .redesSociais{
        position: absolute;
        top:25%;
        left: 5%;
    }
    .logoBernardo {
        width: 50px;
        transition: .3s;
    }
    .homeScrlBtn {
        margin-top: 2rem;
        transition: .3s;
    }
    .contactSection {
        gap: .5rem;
        flex-direction: column;
    }
    .linksContato {
        gap: 1rem;
    }
    fieldset {
        width: 30rem;
        gap: 1rem;
    }
    .allProjects {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 70px;
    }
    .title:before {
        font-size: 60px;
    }
    #technologies ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1rem;
    }
    .contentStart {
        display: flex;
        justify-content: center;
    }
    .divMain {
        max-width: 100%;
    }
    .contactSection {
        align-items: center;
    }
}

@media screen and (max-width: 525px) {
    .projeto {
        width: 400px;
        height: 14.09rem;
    }
    .descricao {
        font-size: 1.3rem;
        font-weight: 500;
    }
    .aboutInfo {
        max-width:80%;
    }
}

/*Tela Pequena*/
@media screen and (max-width: 425px) {
    .logoBernardo {
        width: 50px;
        transition: .3s;
    }
    .redesSociais{
        position: absolute;
        top:20%;
        left: 2%;
    }
    .start {
        display: flex;
        flex-direction: column-reverse;
    }
    .contentStart p {
        font-size: .9rem;
    }
    .divPhoto img {
        max-width: 300px;
    }
    .title {
        font-size: 55px;
    }
    .title:before {
        font-size: 45px;
    }
    #technologies svg {
        font-size: 7rem;
    }
    .aboutPhoto img {
        width: 260px;
    }
    .aboutSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .aboutInfo {
        gap: 1.5rem;
        max-width:90%;
    }

    fieldset {
        width: 20rem;
        gap: 1rem;
    }
    .contactSection {
        align-items: center;
    }
    .inputUser {
        font-size: 15px;
    }
    .aboutInfo p {
        font-size: 14px;
        letter-spacing: .2px;
    }
    .projeto {
        width: 370px;
        height: 13rem;
    }
    .tecnologias {
        font-size: 1.05rem;
    }
    .links {
        display: flex;
        flex-direction: column;
        bottom: 10px;
        right: -10px;
    }
    .linkIcons i {
        font-size: 2rem;
    }
    #projects li:hover .links {
        display: flex;
        flex-direction: row;
    }
    .projeto h3 {
        font-size: 1.2rem;
    }
    #footer p {
        font-size: 0.9rem;
    }
    .redeSociaisFooter {
        gap: 1rem;
    }
    .descricao {
        top: 40%;
        font-size: 1.2rem;
        font-weight: 500;
    }
    #footer a i {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    .redesSociais{
        position: absolute;
        top:20%;
        left: 2%;
    }
    .title {
        font-size: 50px;
    }
    .title:before {
        font-size: 40px;
    }
    .contentStart h2 {
        font-size: 1.1rem;
        letter-spacing: 1.3px;
    }
    .contentStart h1 {
        font-size: 1.65rem;

    }
    .divPhoto img {
        max-width: 230px;
    }
    fieldset {
        width: 18rem;
    }
    .contato span {

        font-size: 1rem;

    }
    .contato i {
        font-size: 2rem;
    }
    fieldset button {
        width: 100%;
        padding: 10px;
        font-size: 1rem;

    }
    .descricao {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .projeto {
        width: 350px;
        height: 12.3rem;
    }
}

@media screen and (max-width: 320px) {
    .divPhoto img {
        max-width: 200px;
    }
    .redesSociais{
        position: absolute;
        font-size: 1.5rem;
        left: 2%;
    }
    .contentStart h1 {
        font-size: 1.6rem;
    }
    .title {
        font-size: 45px;
    }
    .title:before {
        font-size: 40px;
    }
    #technologies svg {
        font-size: 6rem;
    }
    .projeto {
        width: 300px;
        height: 10.5rem;
    }
    .descricao {
        font-size: 1rem;
        font-weight: 500;
    }
}