@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Roboto+Mono:ital@0;1&display=swap');

:root {
    --light: #FCFBFF;
    --dark: #020617;
    --main-color: #075fe4;
    --second-color: #5354c1;
    --third-color: #00D9FF;
}

* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

.bgAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: var(--dark);
    overflow: hidden;
    z-index: -1;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.75);
    position: relative;
    margin: 2px;
    background: var(--dark);
    opacity: .5;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #075fe4a1;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}


.arrow-start img {
    width: 50px;
}

.arrow-start {
    position: fixed;
    margin-left: 95%;
    margin-top: 750px;
}
  
.arrow-start:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 30px var(--main-color), inset 0 0 100px #ffffff;
    border-radius: 50%;
    transform: translateY(-15%);
}

body {
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #16181f;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 15px;
}

.logoBernardo {
    height: 100%;
    cursor: pointer;
    transition: .3s;
}

.logoBernardo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    color: var(--light);
    align-items: center;
}

.divLeft {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--light);
    position: relative;
    padding-bottom: 0px;
    transition: 0.4s ease-in-out;
}

.activeClass {
    color: var(--main-color);
    border-bottom: solid 4px var(--main-color);
}

nav a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: var(--main-color);
}

#navMenu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.menuIcon, .closeIcon {
    display: none;
}

#nav-toggle {
    display: none;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.headerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    z-index: 100;
}

.headerRoll {
    background-color: var(--dark);
}

#nav-close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--light);
    display: none;
}

#nome {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, var(--second-color), var(--main-color), var(--third-color));
}

#theme, .nav_toggle {
    color: var(--light);
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#theme:hover, .nav_toggle:hover {
    transform: scale(1.2);
    color: var(--main-color);
}

.start {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.contentStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    padding: 10px;
    margin-top: 3rem;
    font-family: 'Poppins', sans-serif;
}

.contentStart h1 {
    font-size: 4rem;
    font-weight: 800;
}

.contentStart h2 {
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
    text-shadow: 0 0 15px var(--main-color);
    font-size: 42px;
    padding-bottom: 10px;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    width: 22ch;
    animation: typing 4s steps(22, end) alternate infinite, 
    blinking 0.2s step-end infinite alternate;
}

@keyframes typing {
    0% {
        width: 0;
      }
      100% {
        width: 22ch;
      }
}
@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

.contentStart p {
    margin-bottom: 2rem;
    font-size: 18px;
    color: var(--light);
    font-weight: 500;
}

.redesSociais {
    display: flex;
    gap: 15px;
}

.divPhoto img {
    max-width: 400px;
    padding: 5px 5px 5rem;
}


.redesSociais a i {
    font-size: 2rem;
    color: var(--light);
    transition: 0.4s ease-in-out;
}

.redesSociais a i:hover, 
.redesSociais a:hover {
    color: var(--main-color);
}

.contact {
    padding: .8rem;
    display: inline-block;
    background-color: var(--main-color);
    font-weight: 500;
    border-radius: .5rem;
    cursor: pointer;
    color: #FCFBFF;
    width: 145px;
}

.contact:hover {
    background-color: #003b94;
    transition: .3s;
}

.contact:active {
    transform: scale(0.90);
}

.btnFlex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.contact i {
    font-size: 1.25rem;
    margin-left: .5rem;
}

.homeScrlBtn {
    color: var(--main-color);
    margin-top: 5rem;
    transition: .3s;
}

.homeScrlBtn:hover {
    transform: translateY(0.5rem);
}

.home-scroll span {
    font-size: .813rem;
    color: rgb(146, 146, 146);
    font-weight: 500;
    margin-right: 0.25rem;
}

.uil-mouse-alt {
    font-size: 2rem;
}

.uil-arrow-down {
    font-size: 1.25rem;
}

section {
    min-height: 90vh;
    text-align: center;
}

#technologies {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--light);
    gap: 2rem;
}

.title {
    padding-top: 50px;
    font-size: 100px;
    color: rgba(48, 2, 121, 0.24);
    position: relative;
    margin-top: 18px;
}

.title:before {
    content: attr(titulo);
    position: absolute;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, var(--second-color), var(--third-color));
    font-size: 80px;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#technologies ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: center;
}

#technologies li {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: solid 4px transparent;
    padding: 8px;
}

#technologies h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-size: 1.3rem;
    z-index: 12;
}

#technologies svg {
    font-size: 9rem;
    color: #a29ea4;
}
/*
#technologies li:hover svg{
    filter: blur(6px);
}

#technologies li:hover h3 {
    color: #000;
}

#technologies li:hover {
    border: solid 4px var(--third-color);
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px var(--third-color);
}
*/
#about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.aboutPhoto img {
    max-width: 400px;
    box-shadow: 0 0 15px var(--main-color), 0 0 15px var(--main-color);
    border-radius: 50%;
    border: solid 2px var(--third-color);
}

.aboutSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    color: var(--light);
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    max-width: 35%;
}

.aboutInfo h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 550;
    color: var(--main-color);
    text-shadow: 0 0 15px var(--main-color);
    font-size: 40px;
}

.aboutInfo p {
    text-align: start;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    width: 80%;
    margin: 0 auto 20vh;
}

#projects h2 {
    color: var(--main-color);
    font-family: 'Jost', sans-serif;
    font-weight: 450;
    color: var(--main-color);
    text-shadow: 0 0 15px var(--main-color);
    font-size: 30px;
}

.projectImgsLinks {
    position: relative;
    height: 500px;
}

.projectImgsLinks:hover .container {
    visibility: visible;
}

.projectImgsLinks:hover .projectImgs {
    width: 800px;
    filter: grayscale(0%);
    box-shadow: 0 0 70px var(--main-color), inset 0 0 80px var(--main-color);
}
.boxImages {
    padding-top: 30px;
    display: flex;
    height: 20px;
    gap: 5px;
}
.projectImgs {
    border: 5px solid var(--main-color);
    filter: grayscale(90%);
    width: 100px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-out 0.5s;
    cursor: pointer;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -15px;
    width: 100%;
    height: 30%;
    z-index: 25;
    visibility: hidden;
}

.linkIcons i:hover{
    color: var(--main-color);
    transform: translateY(-15%);
    box-shadow: 0px 0px 20px var(--main-color), inset 0 0 10000px white;
    border-radius: 50%;
}

.linkIcons i {
    font-size: 40px;
    margin: 5px;
    color: var(--main-color);
    border: solid 2px var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    padding: 0 6px;
    transition: .2s ease-in-out;
}

.tecnologias, .links {
    align-items: center;
    position: absolute;
    bottom: 50%;
    margin-left: 1.5rem;
    transform: translateY(50%);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.tecnologias img:hover {
    transform: scale(1.3);
}

strong {
    color: var(--main-color);
}

.links {
    right: 0;
    margin-right: 1.5rem;
}


.downloadCv {
    max-width: 50%;
    padding: 15px;
    margin-top: 50px;
    border-radius: 1rem;
    display: flex;
    color: var(--main-color);
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    background: transparent;
    cursor: pointer;
    border: solid 3px var(--main-color);
}

.downloadCv:hover{
    background: var(--main-color);
    box-shadow: 0 0 30px var(--main-color), inset 0 0 50px var(--main-color);
    text-shadow: 0 0 15px var(--main-color);
    color: #fff;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.buttonCV:hover {
    background: var(--main-color);
    box-shadow: 0 0 30px var(--main-color), inset 0 0 50px var(--main-color);
    text-shadow: 0 0 15px var(--main-color);
    color: #fff;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
  }

.downloadCv i {
    padding-left: .3rem;
}

.linksContato {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: start;
    gap: 4rem;
}

#inContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.contato span {
    color: var(--light);
    font-size: 1.5rem;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.contato span:hover {
    color: var(--third-color);
    text-decoration: underline;
}
.contato i {
    color: var(--light);
    font-size: 2.4rem;
    transition: .4 ease-in-out;
}

.contato i:hover {
    transform: scale(1.1);
    color: var(--third-color);
}

.contato a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contactSection {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5rem;
    justify-content: space-evenly;
}

.form {
    margin: auto;
    background-color: var(--dark);
    padding: 15px;
    border-radius: 10px;
}

fieldset {
    border: 3px solid var(--third-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    padding: 21px 10px 8px 10px;
}
.inpuBox{
    position: relative;
    padding-bottom: 5px;
}

.inpuBox  textarea {
    max-width: 100%;
    border: solid 1px white;
    min-width: 100%;
    max-height: 150px;
    min-height: 80px;
}

.inputUser {
    background: none;
    border: 2px solid var(--third-color);
    padding: 15px;
    border-radius: 10px;
    outline: none;
    color: var(--light);
    font-size: 17px;
    width: 100%;
    letter-spacing: 1px;
}

.inpuBox textarea {
    border: 2px solid var(--third-color);
}

.labelAnimada {
    position: absolute;
    background-color: var(--dark);
    padding: 5px 5px 0 5px;
    top: 0px;
    left: 0px;
    color: var(--light);
    pointer-events: none;
    transition: .3s ease-in-out;
    margin: 5px;
}

.inputUser:focus ~ .labelAnimada,
.inputUser:valid ~ .labelAnimada {
    top: -23px;
    left: 15px;
    font-size: 16px;
    color: var(--main-color);
}

legend {
    background: linear-gradient(to right,var(--third-color), var(--main-color));;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

fieldset button {
    background-image: linear-gradient(to right,var(--third-color), var(--main-color));
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

fieldset button:hover {
    background-image: linear-gradient(to right, #068ca3, #003077);
}



#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--light);
    border-top: solid 2px;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 600;
}

#footer i {
    font-size: 1.7rem;
    color: var(--light);
}

#footer i:hover {
    color: var(--main-color);
}

#footer a {
    transition: .6 ease-in-out;
}

#footer a:hover {
    transform: scale(1.2);
}

.redeSociaisFooter {
    display: flex;
    gap: 1.5rem;
}

